
@font-face {
  font-family: 'Founders Grotesk';
  src: url('./FoundersGroteskXCond-Bold.otf') format('otf');

}
@font-face {
  font-family: 'Neue Montreal';
  src: url('./NeueMontreal-Regular.ttf') format('ttf');

}

.app
{
  
    scroll-behavior: smooth !important;
  
  
}